body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}
.slideshow-image {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  z-index: 1;
}

.fade-in {
  opacity: 1;
  z-index: 2;
}

.fade-out {
  opacity: 0;
  z-index: 1;
}

/* Difficulty container */
.difficulty {
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.difficulties {
  display: flex;
  z-index: 4;
  padding: 10px;
  pointer-events: all;
  position: relative;
  width: 100%;
}

.rectangle {
  color: white;
  position: relative;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 1rem;
  border-radius: 0px;
  backdrop-filter: blur(10px);
  font-family: "Saira Condensed", system-ui;
  font-weight: 600;
  width: 25%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.selected {
  border: 5px solid white;
  padding: 0px;
}
.rectangle:hover {
  transform: translateY(-0.5rem);
}

.rectangle.selected:hover {
  transform: none;
  background-color: rgba(56, 56, 56, 0.358);
}
.rectangle img {
  width: 50%;
  height: auto;
  display: block;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.difficulty .buttons {
  z-index: 4;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.difficulty .buttons > button {
  font-family: "Saira Condensed", system-ui;
  font-weight: 600;
  width: 20%;
  border-radius: 0px;
  font-size: 2.5em;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 15px;
}
.content-diff {
  margin: 3rem;
  margin-left: 6rem;
  margin-right: 6rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
}

.go {
  position: relative;
  background-image: url("../assets/abstract.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #4ec600;
  color: #4ec600;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 10px 20px;
  z-index: 4;
}

/* Overlay the GIF */
.go::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/fading-squares.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
  opacity: 0.3;
  z-index: 1;
  pointer-events: none;
  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 0) 100%
  );
}
.go::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
  z-index: 3;
  pointer-events: none;
}

.go:hover::after {
  background-color: rgba(0, 0, 0, 0.4);
}
.go > p {
  position: relative;
  z-index: 5;
  transition: color 0.3s ease;
}

.go > p:hover {
  color: #286401cc;
}
