.gameboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #614c45;
  height: 100vh;
  position: relative;
  background-image: url(../assets/background_triple_png.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.gameboard > * {
  cursor: url("../assets/crosshair.png") 16 16, auto;
}

.gameboard::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/bluedots_large.png);
  background-position: center;
  background-repeat: repeat;
  opacity: 0.1;
  pointer-events: none;
}

.topbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.gameboard > * {
  z-index: 3;
}
.inventory {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  flex: 1;
  box-sizing: border-box;
}
.weapons {
  gap: 2%;
  cursor: url("../assets/crosshair.png") 16 16, auto;
  z-index: 1;
  flex: 1;
  box-sizing: border-box;
  flex-wrap: wrap;
  height: 100%;
  width: fit-content;
}
.skinname {
  font-weight: 400;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.gun {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.weapons button {
  font-family: "Saira Condensed", system-ui;
  font-size: 1rem;
  padding: 0px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 0px;
  background: linear-gradient(to bottom, #696161, #c1c1c198);
  width: fit-content;
}
.weapons div {
  border-radius: 0px;
}

.home {
  background: none;
  box-shadow: none;
  width: fit-content;
  filter: none;
  z-index: 5;
  padding: 1rem;
  margin-left: 2rem;
}
.home:hover {
  background-color: rgba(177, 177, 177, 0.279);
}
.home img {
  height: 1.5rem;
}
.score {
  margin-right: 2rem;
}
.tile {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  min-width: 100%;
}
.tile button {
  transition: box-shadow 0.2s ease-in-out;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
}
.tile button img {
  flex: 1;
  object-fit: contain;
  height: 100%;
}
.tile {
  color: white;
  font-weight: bold;
  font-family: "Saira Condensed", system-ui;
  z-index: 1;
}
.tile button:hover {
  cursor: url("../assets/crosshair_focus.png") 16 16, pointer;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.8);
}
button img:hover {
  cursor: url("../assets/crosshair_focus.png") 16 16, pointer;
}
.topbar {
  width: 100%;
  background-color: rgba(63, 60, 60, 0.518);
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items vertically */
  position: relative; /* For absolute positioning of the button */
  color: white;
  font-family: "Saira Condensed", system-ui;
  font-size: 1.5rem;
}

.topbar p {
  white-space: nowrap; /* Prevent text from breaking into multiple lines */
  text-align: center;
  margin: 0; /* Remove default margin */
}

.topbar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/linemap_png.png);
  background-position: center;
  background-repeat: repeat;
  opacity: 0.1;
}

.warning {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  font-size: 1.2rem;
}
.warning-modal {
  color: white;
  font-family: "Saira Condensed", system-ui;
  width: fit-content;
  position: relative;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  text-align: center;
  overflow: hidden;
  z-index: 11;
}
.warning-modal * {
  font-size: 2rem;
  z-index: 11;
}
.warning-modal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/dots-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
  z-index: 2;
}

.warning-modal button {
  font-family: "Saira Condensed", system-ui;
  width: fit-content;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
}

.warning-modal button:hover {
  background-color: #666;
}
.upper-warning > *:first-child {
  font-weight: bold;
}
.upper-warning {
  z-index: 11;
  position: relative;
}
.lower-warning {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
}
.lower-warning button {
  width: 30%;
  padding-top: 0px;
  padding-bottom: 0px;
}
.dontShow {
  visibility: hidden;
  transition: visibility 0s 0.5s; /* Add delay to hide after animation */
  z-index: 10;
}

.show {
  visibility: visible;
  opacity: 1;
  transition: visibility 1s; /* Instant visibility with fading */
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(41, 41, 41, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  font-size: 1.2rem;
}

.end {
  position: fixed;
  top: 0;
  left: -100%; /* Start off-screen to the left */
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-out; /* Smooth slide effect */
  z-index: 10;
}

.show .end {
  transform: translateX(100%); /* Slide into view when .show is applied */
}
.dontShow .end {
  transform: translateX(-100%); /* Slide into view when .show is applied */
}

.end-modal {
  color: white;
  font-family: "Saira Condensed", system-ui;
  width: 100%;
  padding: 2rem;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  text-align: center;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.end-modal h2 {
  color: #91c7d8;
  text-shadow: 0px 0px 15px rgba(64, 114, 117, 0.8);

  background-image: url(../assets/glitch_squares.gif),
    linear-gradient(to bottom, #ffffff, #91c7d8);
  background-position: center;
  background-repeat: repeat;
  background-size: 30%;
  background-color: #3b3e45;
  background-blend-mode: multiply;
  padding: 1rem;
  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 0) 60%
  );
  -webkit-mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 0) 60%
  );
}
.end-modal * {
  font-size: 2rem;
  z-index: 10;
  text-align: center;
}
.end-modal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/dots-background.png");
  background-position: center;
  background-repeat: repeat;
  background-size: 40%;
  opacity: 0.6;
  z-index: 0;
}

.end-modal button {
  font-family: "Saira Condensed", system-ui;
  width: fit-content;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 0px;
}

.end-modal button:hover {
  background-color: #666;
}

.elo {
  position: relative;
  background-image: url("../assets/premier-rankup-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin: 1rem;
  padding: 0.5rem;
  overflow: hidden;
}

.end-modal .score-btn {
  display: flex;
  justify-content: space-around;
}

.score-btn > button {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 20%;
}
.red button {
  background-color: rgba(255, 0, 0, 0.6);
  animation: flash 0.5s infinite;
}

@keyframes flash {
  0% {
    border-color: red;
  }
  50% {
    background-color: #9397a0;
  }
  100% {
    border-color: red;
  }
}
.possible {
  font-size: 1.5rem;
}
.simple {
  color: #91c7d8;
  text-shadow: 0px 0px 15px rgba(64, 114, 117, 0.8);

  background-image: url(../assets/glitch_squares.gif);
  background-position: center;
  background-repeat: repeat;
  background-size: 80%;
  background-color: #55657c;
  background-blend-mode: multiply;
  padding: 1rem;
  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}
.simple p {
  padding-left: 10rem;
  padding-right: 10rem;
  z-index: 7;
  color: #a0dbed;
}
.elo span {
  padding-left: 1.5rem;
}
.gamescreen {
  display: flex;
  flex-direction: column;
}
