@font-face {
  font-family: "CSRegular";
  src: url("../assets/cs_regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  justify-content: space-between;
  height: 100%;
  margin-top: 3rem;
}
.cs-memory {
  margin: 1rem;
  height: 50%;
}

.title-screen {
  background-color: #e48b1e;
  background-image: url("../assets/license_bg_png.png");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-screen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../assets/license_bg_png.png");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  filter: blur(10px);
}

.moving-lines-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, #be7419 1px, transparent 1px);
  background-size: 100% 10px;
  background-repeat: repeat-y;
  animation: moveLines 40s linear infinite;
  pointer-events: none;
}

@keyframes moveLines {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 100%;
  }
}
/*text*/
h1 {
  position: relative;
  font-family: "CSRegular", sans-serif;
  color: white;
  font-size: 150px;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

h1::before,
h1::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  color: white;
  width: 100%;
  text-align: center;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

h1::before {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
}

h1::after {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 20%, 100% 100%, 0 70%);
  transform: translate(0.0125em, 0.025em);
}

h1:hover::before,
h1:hover::after {
  animation: none;
  clip-path: none;
  transform: none;
}

@keyframes glitch {
  0% {
    color: white;
    text-shadow: 0.05em 0 0 orange, -0.025em -0.05em 0 black,
      0.025em 0.05em 0 black;
  }
  14% {
    text-shadow: 0.05em 0 0 orange, -0.025em -0.05em 0 black,
      0.025em 0.05em 0 black;
  }
  15% {
    color: white;
    text-shadow: -0.05em -0.025em 0 orange, 0.025em -0.025em 0 black,
      -0.05em -0.05em 0 black;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 orange, 0.025em -0.025em 0 black,
      -0.05em -0.05em 0 black;
  }
  50% {
    text-shadow: 0.025em 0.05em 0 orange, -0.025em 0.05em 0 black,
      0 -0.05em 0 black;
  }
  99% {
    color: white;
    text-shadow: 0.025em 0.05em 0 black, -0.025em 0.05em 0 black,
      0 -0.05em 0 black;
  }
  100% {
    text-shadow: -0.025em 0 0 orange, -0.025em -0.025em 0 black,
      -0.025em -0.05em 0 black;
  }
}
/*button*/
.buttons {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}
.buttons > button {
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.buttons > * {
  margin: 0.5rem;
  width: 100%;
  cursor: url("../assets/crosshair_focus.png") 16 16, pointer;
}
.buttons > * > * {
  cursor: url("../assets/crosshair_focus.png") 16 16, pointer;
}
/* Button styling */
button {
  background-color: rgba(56, 56, 56, 0.358);
  border-radius: 10%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: none;
  font-size: 2rem;
  font-family: "CSRegular", sans-serif;
  color: white;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
  white-space: nowrap; /* Prevent text from wrapping */
}
.buttons button {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
button {
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* Hover effect for buttons */
button:hover {
  background-color: rgba(56, 56, 56, 0.5);
}

button span {
  position: relative;
  display: inline-block;
  color: white;
  z-index: 1;
}

button span::before,
button span::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
  clip-path: inset(0 0);
  z-index: -1;
  opacity: 0;
}

button:hover span::before,
button:hover span::after {
  opacity: 1;
}

button:hover span::before {
  animation: glitch1 250ms infinite;
}

button:hover span::after {
  animation: glitch2 250ms infinite;
}

/* Glitch animations */
@keyframes glitch1 {
  0% {
    clip-path: inset(0 0 70% 0);
    transform: translate(2px, -2px);
  }
  50% {
    clip-path: inset(0 0 30% 0);
    transform: translate(-2px, 2px);
  }
  100% {
    clip-path: inset(0 0 70% 0);
    transform: translate(2px, -2px);
  }
}

@keyframes glitch2 {
  0% {
    clip-path: inset(70% 0 0 0);
    transform: translate(-2px, 2px);
  }
  50% {
    clip-path: inset(30% 0 0 0);
    transform: translate(2px, -2px);
  }
  100% {
    clip-path: inset(70% 0 0 0);
    transform: translate(-2px, 2px);
  }
}

@keyframes glitch1 {
  0% {
    clip-path: inset(0 0 70% 0);
    transform: translate(2px, -2px);
  }
  50% {
    clip-path: inset(0 0 30% 0);
    transform: translate(-2px, 2px);
  }
  100% {
    clip-path: inset(0 0 70% 0);
    transform: translate(2px, -2px);
  }
}

@keyframes glitch2 {
  0% {
    clip-path: inset(70% 0 0 0);
    transform: translate(-2px, 2px);
  }
  50% {
    clip-path: inset(30% 0 0 0);
    transform: translate(2px, -2px);
  }
  100% {
    clip-path: inset(70% 0 0 0);
    transform: translate(-2px, 2px);
  }
}
.sound .sound-icon {
  position: absolute;
  width: 50px;
  padding: 10px;
  cursor: pointer;
  border: none;
  flex: 1;
  right: -70px;
  cursor: url("../assets/crosshair_focus.png") 16 16, pointer;
  backdrop-filter: blur(10px);
}
.sound {
  display: flex;
  align-items: center;
  backdrop-filter: blur(10px);
}
.sound-icon svg {
  width: 100%;
  height: auto;
  fill: white;
}
.credits {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  font-size: 1.2rem;
}
.credits-modal {
  color: white;
  font-family: "Poppins", sans-serif;
  width: fit-content;
  position: relative;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.credits-modal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/dots-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
  z-index: -1;
}

.credits-modal button {
  font-family: "Poppins", sans-serif;
  width: fit-content;
  background-color: #444;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.credits-modal button:hover {
  background-color: #666;
}

.fullscreen-gif {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
  display: none;
}

.fullscreen-gif img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.credits-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 3rem;
  padding-top: 1rem;
}
.credits-container ul {
  list-style: none;
  gap: 5px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.linkblue {
  color: rgb(0, 182, 202);
  font-weight: bold;
}
.linkblue:hover {
  text-decoration: underline;
}
div .exit {
  padding: 0px;
  background: none;
  border: 2px solid rgba(255, 255, 255, 0.639);
  font-family: none;
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: url("../assets/crosshair_focus.png") 16 16, pointer;
}
.top {
  align-self: flex-end;
}
